:root{
    --bodyBackgroundColor: rgb(255, 255, 246);
    --highlightColor: rgb(235, 50, 25); /* rgb(235, 50, 25) Mainly for links*/
    font-size: 24px;
}

main{
    margin-left:  10%;
    margin-right: 10%;
}

footer{
    text-align: center;
    margin-top:    5%;
    margin-bottom: 5%;
}

figure{
    text-align: center;
}


a{
    color: black;
    transition: color 0.25s ease-in-out;
}

a:hover{
    cursor: pointer;
    color: var(--highlightColor);
}


h1{
    font-family: 'Times New Roman', Times, serif;
    font-variant:  small-caps;
    text-align:    center;
    font-size:     2.25rem;
    font-weight:   100;
    margin-top:    5%;
    margin-bottom: 5%;
}

h2{
    font-size: 1.75rem;
    font-variant: small-caps;
    font-weight: 100;
}

h3{
    font-size: 1.50rem;
    font-weight: 100;
    font-variant: small-caps;
}

.quote{
    font-style: italic;
    margin: 1rem 5rem;
}

p{
    text-align: justify;
}

blockquote{
    font-style: italic;
}

/* .description is the description text on the main page*/
p, td, th, input, a, blockquote, .description, pre{
    font-size: 1.0rem;
} 


table{
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    margin-top: 0.15rem;
    margin-bottom: 0.15rem;
}

table th{
    border-bottom: 1px solid black;
    font-weight: 100;
    font-variant: small-caps;
}

table td{
    padding: 0 1rem;
}

.centeredDiv{
	text-align: center;
}

img{
    max-width: 70%;
}

/* 
    STYLES SPECIFIC FOR THE INDEX PAGE 
   
*/

.blogTitle{
    font-family: "Times New Roman", Times, serif;
    font-variant: small-caps;
    text-align: center;
    font-weight: 100;
    font-size: 2rem;
}

.blogTitle span{
    vertical-align: middle;
    font-size: 5rem;
}

.abstractMainDiv{
    margin-top: 4rem;
}

.description{
    margin: 0 10%;
    hyphens: auto;
    text-align: justify;
    overflow: auto;
}

.thumbnail{
    float: left;
    max-width: 200px;
    max-height: 200px;
    padding: 10px;
}

.title{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.75rem;
    text-align: center;
}

.tags{
    text-align: center;
}

.tags::before{
    content: "Tags: ";
}

.link{
    font-size: 1.25rem;
    text-align: center;
    font-variant: small-caps;
    display: block;
    margin: 10px 0;
    color: black;
}

.verticalSpacer{
    height: 2rem;
}

.filterContainer{
    border: 1px solid black;
    
    position: relative;
    margin-bottom: 2rem;
    padding: 1rem 1.5rem;
}

.filterContainer h2{
    font-weight: 100;
    position: absolute;
    top: -1.75rem;
    left: 2rem;
    background-color: white;
    font-size: 1.25rem;
}

.tagCBContainer{
    display: inline-block;
    margin-right: 1rem;
}

/* 

SPECIALTIES

-Floating image div

*/

/*
A floating image div is something like this
<div class="floatingImgDiv">
<img src="image.png">
<div></div>
</div>

where the div element is taken to be a caption for the image.
*/
.floatingImgDiv{
    float: left;
    padding: 2rem;
    width: min-content;
}

.floatingImgDiv div{
    text-align: center;
}

.floatingImgDiv2{
    float: right;
    padding: 2rem;
    width: min-content;    
}

.floatingImgDiv2 div{
    text-align: center;
}

/*         */

.equation{
    text-align: center;
    line-height: 175%;
    font-size: 1.0rem;
}

.eqlab{
    display: inline-block;
    margin-left: 3rem;
}

pre{
    background-color: darkslategray;
    color:rgb(255, 255, 245);
    overflow: auto;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* TODO: WHAT IS R_eq? */
.R_eq{
    text-align: center;
    width:fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 15px;
}

/* For limits of integration
&int; <span class="lims"><sub>0</sub><sup>1</sup></span>
*/

.lims{
    position: relative;
    margin-right: 0.5rem;
}

.lims sub{
    position: absolute;
    bottom: -1rem;
    left: -0.2rem;
}

.lims sup{
    position: absolute;
    top: -1rem;
    left: -0.0rem;
}

/*.lims{

}

.lims sub{
    position: relative;
    bottom: -0.2rem;
}

.lims sup{
    position: relative;
    top: -0.2rem;
    left: -0.3rem;
}*/

.bibEntry{
    margin-left: 2rem;
}

.bibEntry::first-letter{
    margin-left: -2rem;
}

/* */

.interactiveFigure{
    text-align: center;
}

.interactiveFigure *{
	margin: 0.15rem 0rem;
}

.controlSlice{
    display: block;
}

.controlSlice * {
    display: inline-block;
}

/* These used to be specific for buttons included as parts of interactive figures */


button{
    border: 1px solid black;
    font-size: 1rem;
    font-variant: petite-caps;
    font-weight: 100;
    padding: 0.1rem 0.5rem;
    background-color: floralwhite;
}

button:hover{
    cursor: pointer;
    background-color: beige;
}

button:active{
    background-color: var(--highlightColor);
}

