body{
    background-color: rgba(230, 230, 0, 0.10);
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
}


/* Kaikki mihin tulee Palatino*/

p, h3, h4, nav, ul, ol, .accordion, .accordion_repo, footer{
    font-family: "Palatino Linotype";
}

pre.lyrics{
    font-family: "Book Antiqua", serif;
    letter-spacing: 1.5px;
    /*background-color: rgba(230, 230, 0, 0.0);*/
}

/* Kaikki mihin arialia*/

h1, h2{
     font-family: "Arial", sans-serif;
}

h1{
    float: none;
    letter-spacing: 1.5px;   
    padding-top: 30px;
    margin-bottom: 1%;
    transition: 5s;
}

.back_to_top, .back_to_top a{
    color: black;
    font-size: 125%;
    float: none;
    letter-spacing: 2.0px;   
    padding-top: 0.5%;
    padding-bottom: 0.5%;;
    transition: 0.8s;
    border: none;
    outline: none;
    text-decoration: none;
}


.back_to_top:hover{
    background-color: rgba(200, 50, 5, 0.2);
    
}

/* Leipäteksti:*/ 
p, ol, h1, h2, h3, h4, header, footer{
    text-align: justify;
}


header{
    padding-top: 10%;
    padding-bottom:10%;
    text-align: center;
    letter-spacing: 3.5px;
    font-size: 300%;
    transition:5s;
    background-color: rgba(230, 150, 0, 0.1);
}

header:hover{
    background-color: rgba(230, 150, 0, 0.3);
}

footer{
    margin:0;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    background-color:  rgba(230, 159, 0, 0.40);
    letter-spacing: 1.5px;
    text-align: center;
    transition: 4s;
}

footer:hover{
    background-color:  rgba(230, 230, 0, 0.40);
}


.yellow_stripe{
    /*background-color: rgba(255, 240, 10, 0.15)*/;
    border-radius: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 5px dotted rgba(175, 175, 0, 0.45);
    border-bottom: 5px dotted rgba(175, 175, 0, 0.45);
    
}

.repo_link_bundle{
    
}

.link_to_repo{
    font-size: 200%;
    float: none;
    color: black;
    font-weight: 900;
    text-decoration: none;
    text-align: left;
    width: 20%;
    margin-bottom: 14px;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.8s;
    letter-spacing: 1.5px;
}

.link_to_repo:hover{
    background-color:rgba(255, 230, 0, 0.35);
    border-radius: 0px;
}

.navbar a{
    color: black;
    text-decoration: none;
}

.navbar{
    padding-top: 10%;
    padding-left: 10%;
    padding-bottom: 5%;
    font-size: 150%;
    transition: 7s;
    
    /*background-color:  rgba(230, 0, 0, 0.05);*/
}

.navbar:hover{
    
    background-color:  rgba(230, 200, 5, 0.30);
}

.navbar_item{
    list-style-type: none;
    transition: 0.8s;
    float: left;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%; 
    padding-right: 2%;
    
}

.navbar_item:hover{
    /* Seems that you can have either a cool transition OR a cool radial gradient:*/
    /*background-image: radial-gradient(ellipse, rgba(230, 159, 0, 0.65), rgba(230, 159, 0, 0.0), rgba(230, 159, 0, 0.0));*/
    background-color:  rgba(230, 159, 0, 0.65);
}


/* ACCORDION
https://www.w3schools.com/howto/howto_js_accordion.asp
*/ 

.accordion, .accordion_repo {
    /*rgba(213, 94, 0, 0.1)*/
  background-color: rgba(150, 94, 0, 0.2);
  color: black;
  font-size: 125%;
  cursor: pointer;
  padding: 14px;
  margin-bottom: 14px;
  width: 80%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.8s;
  letter-spacing: 1.5px;
}

.active, .accordion:hover, .accordion_repo:hover{
  background-color: rgba(213, 94, 0, 0.65);
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: rgba(230, 230, 0, 0.15);
  display: none;
  overflow: hidden;
  width:70%;
}


/* Scaling, if the screen gets too small */
@media all and (max-width: 600px) {
    body{
        padding-left: 0%;
        padding-right: 0%;
    }
    
    
    pre.lyrics{
        /*This doesn't seem to be necessarily needed:
        overflow-x: scroll;*/
    }
    
    .panel{
        width: 100%;
        padding: 0;
    }
    
    .navbar_item{
        float: none;
    }
    
}
